// Place all the styles related to the attris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attriAssign {
  width: 600px;
  background-color: rgba(0, 255, 0, 0.1);
  -webkit-box-shadow: 5px 5px 5px #aaa;
  a {
    background-color: #ddd;
  }
  :hover {
    background-color: rgba(0, 255, 0, 0.2);
     -webkit-box-shadow: 10px 10px 5px #aaa;
    -webkit-transition: all 0.5s ease-in-out;
  }
 
 -webkit-border-radius: 5px;
 margin: 10px;

}

 .attribute {
   
  background-color: #DDD;
  float: left;

  color: #222;
  padding: 0 5px;
  display: block;
  white-space: nowrap;
  margin: 2px;
  } 